body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#contact_modal {
    display: none;
}

header {
    width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#main, .medias-container {
    width: 1240px;
}



.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    /* margin: 0 100px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.heading-infos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading-name {
    font-size: 64px;
    color: #D3573C;
    margin: 0;
}

.heading-text {
    font-size: 24px;
    color: #901C1C;
    margin-top: 10px ;
}

.heading-sub {
    font-size: 16px;
    color:#525252;
    /* margin: 0; */
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.contact_button:hover {
    background-color: #DB8876;
    color: black;
}

.modal {
    border-radius: 5px;
    row-gap: 30px;
    background-color: #DB8876;
    width: 669px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}


.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;

}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 10px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
    padding-left: 10px ;
}
textarea[id="message"] {
    width: 100%;
    /* height: 68px; */
    border: none;
    border-radius: 5px;
    height: 150px !important;
    margin-bottom: 10px;
    align-content:flex-start; 
    resize: none;
    font-size: 18px;
    box-sizing: border-box;
    padding-left: 10px ;
    padding-top: 10px ;
}




.photographer-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    
}

.medias-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.media-card {
    height: 300px;
    width: 350px;
    border-radius: 10px;
}

.img__container {
    
    box-shadow: -4px 6px 16px 0px rgba(0,0,0,0.75) inset;
}

.media-image, .media-video {
    object-fit: cover;
    object-position: top;
   
    z-index: 500;
   
}

.figcaption-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    color: #901C1C;
    font-weight: 400;
    margin-top: -10px;
    font-size: 24px;

}


figcaption {
    display: block;
    overflow: hidden;
    width: 270px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.count-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 367px;
    height: 70px;
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 38px;
    border-radius: 5px 5px 0 0;
}

.likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
}

.likes-count {
    font-size: 24px;
}

.heart {
    width: 19px;
    height: 18px;
    order: 2;
}


.daily-price {
    font-size: 24px;
    line-height: 31px;
    font-family: 'DM Sans';
    font-weight: 500;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
    animation: lightboxIn 500ms;
}

.lightbox__next, .lightbox__prev {
    background: url(../assets/icons/chevronR.svg) center center / 60px 60px no-repeat;
    border: none;
    width: 50px;
    position: fixed;
    right: 80px;
    top: 0;
    height: 100%;
    margin-top: -15px;
    z-index: 11;
}


.lightbox__prev {
    right: auto;
    left: 80px;
    transform: rotate(180deg);
}

.lightbox__container {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.lightbox__close {
    background: url(../assets/icons/close2.svg) center center / 100% 100% no-repeat;
    border: none;
    position: fixed;
    right: 50px;
    top: 50px;
    height: 50px;
    width: 50px;
    z-index: 12;
    color: #901C1C;
}


.lightbox__close:hover {
    opacity: 1;

}

.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity 300ms;
    text-indent: -10000px;
}

.lightbox button:hover {
    opacity: 1;
}

.lightbox__container img, .lightbox__container video {
    max-width: 100%;
    height: 800px;
    animation: lightboxIn 500ms;
    border-radius: 10px;
    /* object-fit: cover; */
}

@keyframes lightboxIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.lightbox__loader {
    width: 50px;
    height: 50px;
    opacity: .5;
    background: url(../assets/icons/loader.svg) center center / 100% 100% no-repeat;
}

.lightbox__caption {
    font-size: 24px;
    line-height: 31px;
    font-family: 'DM Sans';
    font-weight: 500;
    color: #901C1C;

}

.lightbox.fadeOut {

    opacity: 0;
}

figure {
    margin: 0;
    width: 350px;
}

select {
    background: #901C1C;
    display: inline-block;
    color: white;
    /* height: 35px; */
    /* width: 100px; */
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 15px;
}


option {
   
    font-size: 18px;
}


.sort-container {
    margin-top: 30px;
}

.sort-label {
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

.heartLike {
    background: url(../assets/icons/heart.svg) center center / 100% 100% no-repeat;
    border: none;
    width: 19px;
    height: 18px;
    order: 2;
}

.heart-icon {
    width: 25px;
    height: 25px;
    transition: ease-in-out .2s all;; 
    /* filter: hue-rotate(0); */

}

.blue {
    filter: hue-rotate(250deg) !important;
    transform: scale(1.2) !important;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) .2s;
}

media-likes-count {
    margin: 0;
}